@media (max-width: 1200px) {
    .about-img{
        width: 300px;
        height: auto;
        float: none;
        display: block;
    }
    .about-div{
        display: block;
        width: auto;
        margin: 5%;
    }
    .contact-item-p{
        font-size: 24px;
    }
}

@media (max-width: 1000px) {
    .navbar-brand{
        font-size: 30px;
        margin-left: 50px;
    }

    .navbar-toggler{
        width: 100px;
        height: 50px;
        margin-right: 50px;
    }
    .navbar-nav{
        margin-left: 50px;
        font-size: 25px;
    }

    .box{
        display: block;
        justify-content: center;
        margin-top: 50px;
    }

    .maps-info{
        display: block;
        width: 100%;
        margin-right: 0px;
        height: 250px;
        padding-right: 10px;
    
    }

    .map{
        width: 100%;
        height: 600px;
        border-radius: 25px;
        display: block;
        margin-left: 0px;
        margin-top: 50px;
    }

    .content{
        margin-top: 150px;
    }
}