{% extends "base.html" %}

{% block title %} Hobbies {% endblock %}
{% block scripts %} 
    <script type="text/javascript" src = "../static/scripts/search_hobbies.js"></script>
{% endblock%}

{% block content %}
{% include "navbar.html" %}

<div class = "container">
    <div class = "page-title">
            <h1>{{title}}'s Hobbies<span>Activities for my free time</span></h1>
    </div>
    <center>
        <div style = "margin:20px;">
            <input id="searchHobbies" type = "text" placeholder = "Filter" class = "hobbies-search"/>
            <button 
                id = "search"
                class = "hobbies-search-button" 
                onclick="search({{hobbies_name}},{{pics}},{{hobbies_memos}} )"> <i class="fa fa-search"></i></button>
        </div>
        <!-- defines row layout -->
        <div class = "row" id ="hobbies-container">
            <!-- creates a card for every object found -->
            {% for a in pics %}
                <!-- defines columns-->
                <div class = " col-sm-12 col-lg-4"> 
                    <div class = "card hobbies_shadowing margins">
                        <img src = "{{pics[a]}}" class = "hobbies-img">
                        <div class = "card-body ">
                            <h4 class = "card-title">{{hobbies_name[a]}}</h4>
                            <p class = "card-text">{{hobbies_memos[a]}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </center>
</div>




{% endblock %}



