{% extends "base.jinja" %}
{% block title %}About{% endblock %}

{% block content %}
<div class = "container text-center">
    <!-- User information and picture -->
    <center>
        <img src = "{{user_data['img']}}" class = "img-fluid about-img"/>
    </center>
    <div class = "about-div text-center">
        <div class = "page-title">
                <h1>Who is {{ title }}?<span>Meet me</span></h1>
        </div>
        <p class = "about-txt ">{{user_data['about']}}</p>
    </div>

    <div class="subtitle">
            <h1 class = "text-left" style = "margin-top:30px; margin-bottom:30px;;">Github</h1>
    </div>
    
    <div class="github-card" data-github="Ruy-GC" data-width="100%" data-height="318" data-theme="medium"></div>
            
    <div class = "repos">
        <a href = "https://github.com/Ruy-GC/Geriatrik">
            <div class = "repo-card">
                <div class = "repo-body">
                    <div class = "repo-name">
                        <h4>Geriatrik</h4>
                        <svg class="repo-click" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M256 64C256 46.33 270.3 32 288 32H415.1C415.1 32 415.1 32 415.1 32C420.3 32 424.5 32.86 428.2 34.43C431.1 35.98 435.5 38.27 438.6 41.3C438.6 41.35 438.6 41.4 438.7 41.44C444.9 47.66 447.1 55.78 448 63.9C448 63.94 448 63.97 448 64V192C448 209.7 433.7 224 416 224C398.3 224 384 209.7 384 192V141.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6C156.9 298.1 156.9 277.9 169.4 265.4L338.7 96H288C270.3 96 256 81.67 256 64V64zM0 128C0 92.65 28.65 64 64 64H160C177.7 64 192 78.33 192 96C192 113.7 177.7 128 160 128H64V416H352V320C352 302.3 366.3 288 384 288C401.7 288 416 302.3 416 320V416C416 451.3 387.3 480 352 480H64C28.65 480 0 451.3 0 416V128z"/>
                        </svg>
                    </div>
                    <div class = "repo-desc text-left">
                        <p>Geriatrik is a web application developed for an organization (El club de los abuelos) that helps the elderly. The main focus is the optimization of the taking of screenings carried out by the doctors</p>
                    </div>
                    <div class = "repo-footer">
                        <div class = "repo-lang">
                            <span class="dot" style = "background-color: #f1e05a;"></span>
                            <span>Javascript</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href = "https://github.com/Ruy-GC/Geriatrik-API">
            <div class = "repo-card">
                <div class = "repo-body">
                    <div class = "repo-name">
                        <h4>Geriatrik-API</h4>
                        <svg class="repo-click" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M256 64C256 46.33 270.3 32 288 32H415.1C415.1 32 415.1 32 415.1 32C420.3 32 424.5 32.86 428.2 34.43C431.1 35.98 435.5 38.27 438.6 41.3C438.6 41.35 438.6 41.4 438.7 41.44C444.9 47.66 447.1 55.78 448 63.9C448 63.94 448 63.97 448 64V192C448 209.7 433.7 224 416 224C398.3 224 384 209.7 384 192V141.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6C156.9 298.1 156.9 277.9 169.4 265.4L338.7 96H288C270.3 96 256 81.67 256 64V64zM0 128C0 92.65 28.65 64 64 64H160C177.7 64 192 78.33 192 96C192 113.7 177.7 128 160 128H64V416H352V320C352 302.3 366.3 288 384 288C401.7 288 416 302.3 416 320V416C416 451.3 387.3 480 352 480H64C28.65 480 0 451.3 0 416V128z"/>
                        </svg>
                    </div>
                    <div class = "repo-desc text-left">
                        <p>Geriatrik Web app API. Developed alongside Geriatrik to manage all server requests and responses including a MySQL database for data storage</p>
                    </div>
                    <div class = "repo-footer">
                        <div class = "repo-lang">
                            <span class="dot" style = "background-color: #f1e05a;"></span>
                            <span>Javascript</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    
    <!-- Contact information and links to social media-->
    <div class = "contact-div">
        <p class = "contact-item-p">
            <img src = "../static/img/email.png" style='vertical-align: middle; height: 30px'; /> 
            {{user_data['email']}}
        </p>
        <p class = "contact-item-p">
            <img src = "../static/img/phone.png" style='vertical-align: middle; height: 30px'; /> 
            {{user_data['phone']}}
        </p>
        <a href="{{user_data['github']}}" >
            <img alt="github" src="../static/img/github.png" class = "contact-link"/>
        </a>
        <a href="{{user_data['linkedin']}}" >
            <img alt="linkedin" src="../static/img/linkedin.png" class = "contact-link"/>
        </a>
    </div>

</div>
{% endblock %}

{% block scripts%}
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
{% endblock %}