<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body style = "margin-bottom:70px">
    <!-- Home navbar,uses the MLH fellowship branding-->
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <!-- Team presentation -->
    <div class="presentation">
        <div class="home-overlay">
            <h1 style="font-size: 72px;" class="text-center">WELCOME TO BLUE PANDAS!</h1>
        </div>
    </div>

    <!-- Team description and team members-->
    <div class="container" style="margin-top: 4%; margin-botton: 2%;">
        <center>
        <h1>{{title}}</h1>
        <hr/>
        <p class="text-center team-desc">
            Welcome to the Blue Pandas Portfolio, we are a team for the Summer 2022 MLH Fellowship on the Production Engineering track. On this site you'll find interesting information about our members such as experience, education, hobbies, favorite places to visit and of course some ways to contact us.
        </p>

        <!-- Team members, with routing to their own homepage using parameters in the routes-->
        <div class="members">
                <div class = "member-card">
                    <img 
                        src= "{{ user1['img'] }}"
                        class="member"    
                    />
                    <h2 class="text-center">{{ user1["name"] }}</h2>
                    <a href="/ruy" class="btn-user">SEE MORE!</a>
                    
                </div>
                <div class = "member-card">
                    <img 
                        src= "{{ user2['img'] }}"
                        class="member"    
                    />
                    <h2 class="text-center">{{ user2["name"] }}</h2>
                    <a href="/michelle" class="btn-user">SEE MORE!</a>
                </div>
        </div>
        </center>
    </div>
    <footer>
        <div class="text-center p-3">
            Project developed for the MLH Fellowship Orientation Hackathon - Summer 2022
        </div>
    </footer>
</body>
</html>